* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.ant-card {
  margin: 15px 0;
  height: 100%;
  min-width: 150px;
}
.temp {
  height: 400px;
  margin: 15px 10px 0 0;
}
.time-card {
  overflow: hidden;
  padding-top: 5px;
}
.time-card .card-left {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 50%;
  height: 160px;
}
.time-card .card-left .weather-pic {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 80px;
  width: 100%;
}
.time-card .card-left li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-card .card-left li span {
  margin: 3px 2px;
}
.time-card .card-right {
  display: inline-block;
  width: 50%;
  height: 160px;
  background: #595a7d;
  text-align: center;
  color: #fff;
}
.time-card .card-right .time {
  font-size: 3em;
  font-family: '幼圆';
  font-weight: 800;
  margin-top: 15%;
}
.temp-card {
  overflow: hidden;
  margin-top: 5px;
}
.temp-card .card-left {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 50%;
  height: 160px;
}
.temp-card .card-left .weather-pic {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 80px;
  width: 100%;
}
.temp-card .card-left li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.temp-card .card-left li span {
  margin: 3px 2px;
}
.temp-card .card-right {
  display: inline-block;
  width: 50%;
  height: 160px;
  background: #ff922b;
  text-align: center;
  color: #fff;
}
.temp-card .card-right .time {
  font-size: 3em;
  font-family: '幼圆';
  font-weight: 800;
  margin-top: 15%;
}
.search-card {
  width: 100% ;
}
.search-card .ant-card-body {
  padding: 0 0 10px 0 !important;
}
.search-card .ant-card-body .flash-box {
  width: 100% ;
}
.search-card .ant-card-body .flash-box div {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 250px;
}
.search-card .ant-select-selection {
  margin: 10px 0 0 10px;
}
.indices {
  background: #fff;
  padding: 20px 5px;
}
.indices .indices-item {
  width: 100%;
}
.indices .indices-item p:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a8a8a;
  height: 14px;
}
.indices .indices-item p:nth-of-type(1) i {
  display: inline-block;
  width: 14px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.indices .indices-item p:nth-of-type(1) span {
  display: inline-block;
  font-size: 10px;
  padding-left: 5px;
  height: 100%;
  line-height: 12px;
}
.indices .indices-item p:nth-of-type(2) {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 0;
  width: 100%;
  text-align: center;
}
