.indexes .indexes-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 10px 5px;
  padding: 50px 0;
  background: #fff;
}
.indexes .indexes-item p {
  padding: 10px 0;
  color: #808080;
  font-size: 20px;
}
