.ant-layout-content {
  position: relative;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
}
.forecast-card {
  position: relative;
  margin: 0 20px;
}
.forecast-card .forecast-pos {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
  font-family: '幼圆';
  color: #fff;
}
.forecast-card .forecast-pos img {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
.forecast-card .forecast-date {
  padding: 5px 0;
  font-size: 26px;
  font-weight: 600;
  font-family: '幼圆';
  text-align: center;
  color: #fff;
}
.forecast-card .forecast-date span {
  font-size: 16px;
  font-weight: 500;
}
.forecast-card .forecast-weather {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forecast-card .forecast-weather p {
  height: 80px;
  width: 80px;
  padding: 5px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.forecast-card .forecast-temp {
  padding: 5px 0;
  font-size: 24px;
  font-weight: 800;
  font-family: '幼圆';
  text-align: center;
  color: #fff;
}
.forecast-card .weather {
  padding: 5px 0;
  font-size: 18px;
  font-weight: 500;
  font-family: '幼圆';
  text-align: center;
  color: #fff;
}
.forecast-card .weather span {
  font-size: 14px;
}
.forecast-card .forecast-rise,
.forecast-card .forecast-down {
  margin: 5px 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  font-family: '幼圆';
}
.forecast-card .forecast-rise img,
.forecast-card .forecast-down img {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}
.forecast-card .forecast-rise {
  padding-top: 30px;
}
